* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body,
html {
	font-size: calc(10px + 0.4vw);
	font-family: Montserrat, sans-serif;
	-webkit-font-smoothing: antialiased;
}

section {
	margin-top: 9%;
}

header {
	position: fixed;
	color: #4B4B4B;
	background-color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	align-self: start;
	z-index: 999;
	overflow-x: auto;
	white-space: nowrap;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.logo {
	display: flex;
	align-items: center;
}

.logo img {
	width: 50px;
	height: 50px;
	margin-right: 0.5rem;
}

nav {
	display: flex;
}

nav ul {
	list-style: none;
	display: flex;
}

nav li {
	margin-left: 1rem;
}

nav a {
	color: #4B4B4B;
	text-decoration: none;
	padding: 1rem;
	font-weight: 500;
}

nav a:hover {
	color: #7508fc;
}

section {
	align-items: center;
}

#mainsection {
	height: 90vh;
	margin-top: 0%;
}

.container1 {
	width: -moz-available;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: flex-start;
	position: absolute;
	top: 20%;
	left: 10%;
	text-align: initial;
}

#infoself {

	text-align: left;

	color: rgb(51, 49, 49);
	font-family: Inter;
	font-size: xx-large;
	font-weight: 400;

}

#infoself h4,
h3 {
	font-weight: 200;
	color: #4B4B4B;
}

#character {
	/* position: absolute; */
	/* left: 3%; */

	width: 50%;
	height: 50%;
}


#character lottie-player {
	width: 59%;
}



.var-highlight {
	color: #ff2f00;
}

.string-highlight {
	color: rgba(7, 25, 225, 0.8);
	font-weight: bold;
}

#typewriter {
	width: fit-content;
	font-size: 130%;
	margin: 0;
	font-family: "Courier New";
	position: absolute;
	left: 17%;
	top: 9%;
}

#typewriter:after {
	content: "|";
	animation: blink 500ms linear infinite alternate;
}

@-webkit-keyframes blink {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-moz-keyframes blink {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes blink {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.container {
	width: 432px;
	position: absolute;
	right: 9rem;
	top: 24%;
	height: 54%;
	overflow-x: hidden;
	overflow-y: hidden;
	background: rgba(255, 255, 255, 0.32);
	background-blend-mode: normal;
	backdrop-filter: blur(6px);
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
	padding: 1rem;
	overflow: auto;
	border: 2px solid #84848481;
	border-radius: 30px;
	box-shadow: 0 0 9px #84848481;
}

.social-icons {
	display: flex;
	gap: 1rem;
}

.social-icons a {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	color: #4B4B4B;
	text-decoration: none;
	font-size: 1.5rem;


}

.social-icons a:hover {
	border: 1px solid burlywood;
	border-radius: 50%;

}

/* download resume button*/
.downloadResume {
	color: white;
	background-color: #ff481e;
	padding: 1.8%;
	letter-spacing: 0.8px;
	display: inline-block;
	font-weight: 500;
	border-radius: 5px;
	box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .15);
	transition: transform .3s;
	position: absolute;
	left: 5%;
}

/*Things i love section styling*/
#Things {}

#Things-container {

	display: flex;


}

#Things-inner {
	margin: 10px;
	flex: 1 1 200px;
	max-width: 300px;
	height: 300px;
	padding: 20px;
	display: flex;
	justify-content: space-evenly;
	-webkit-box-align: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 10px;
	border-radius: 10px;
	margin: auto;
	border: 2px solid #84848481;
	box-shadow: 0 0 9px #84848481;
}

#Things-logo {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: linear-gradient(134deg, #ff2f00 0%, #ff2f00 99%);
	color: rgb(248, 248, 248);
}

.svg-inline--fa,
svg:not(:root).svg-inline--fa {
	overflow: visible;
}

.svg-inline--fa.fa-w-20 {
	width: 1.25em;
}

#Things-logo svg {
	height: 100px;
	line-height: 100px;
	font-size: 2.2rem;
}

#Things-inner p {
	font-size: 0.8rem;
}


/**
*About me section css
*/
#about {

	height: inherit;
}

.heading-sec__mb-med {
	margin-bottom: 3rem;
}

h2 {
	display: block;
	font-size: 1.4em;
	margin-block-start: 0.83em;
	margin-block-end: 0.83em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: bold;
}

.heading-sec__main {
	display: block;
	font-size: 1.7rem;
	text-transform: uppercase;
	letter-spacing: 1px;
	letter-spacing: 3px;
	text-align: center;
	margin-bottom: 3rem;
	position: relative;
	color: #111;
}

.heading-sec__sub {
	display: block;
	text-align: center;
	color: #555;
	font-size: 1.3rem;
	font-weight: 500;
	max-width: 80rem;
	margin: auto;
	line-height: 1.6;
}

.heading-sec__main::after {
	content: '';
	position: absolute;
	top: calc(100% + 1.5rem);
	height: 5px;
	width: 3rem;
	background: #ff2f00;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 5px;
}

.about-content {
	max-width: 800px;
	margin: 0 auto;
}

h2 {
	font-size: 2rem;
	color: rgb(48, 48, 48);

}

p {
	font-size: 12px;
	line-height: 1.6;
	margin-bottom: 20px;
	color: rgb(77, 77, 77);
}

.about__content-details-para a {
	text-decoration: underline;
	font-weight: 600;
	color: #ff2f00;
	margin: 0 3px;
}

.about__content {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10rem;
	margin: 3rem;
}

.about__content-title {
	font-weight: 700;
	font-size: 1.5rem;
	margin-bottom: 1rem;
}

.about__content-details-para {
	font-size: 1.0rem;
	color: #666;
	max-width: 60rem;
	line-height: 1.7;
	margin-bottom: 1rem;
	font-family: Karla, sans-serif;
}

.btn--theme {
	background: #fa880f;
	color: #111;
}

.btn--med {
	padding: 0.8rem 1.9rem;
	font-size: 1.0rem;
}

.btn {
	background: #ff2f00;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 1px;
	display: inline-block;
	font-weight: 700;
	border-radius: 5px;
	box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .15);
	transition: transform .3s;
}

a {
	text-decoration: none;
	color: inherit;
}

.skills {
	display: flex;
	flex-wrap: wrap;
}

.skills__skill {
	padding: 1rem 2rem;
	margin-bottom: 1.5rem;
	margin-right: 1.5rem;
	font-size: 1.6rem;
	background: rgba(221, 219, 219, 0.32);
	border-radius: 5px;
	font-weight: 600;
	color: #666;
	background-blend-mode: normal;
	backdrop-filter: blur(6px);
}

/*mini-Project */
.projects__content-details-img svg {
	filter: drop-shadow(2px 2px 6px #ff2f00);
}

.projects__content-details-text {
	text-align: center;
}

/*Project section */
.projects {}

.projects__content {
	display: flex;
	/* align-content: space-between; */
	/* text-align: justify; */
	align-items: center;
	/* padding: 0; */
	gap: 30px;
	justify-content: center;
}

.projects__content-details {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	align-content: space-around;
	width: 23%;


}

.projects__content-details-img {
	display: flex;
	width: 27%;
	height: 71%;
	margin: 1rem;
	background-size: cover;
	background-repeat: no-repeat;
	background-blend-mode: normal;
	backdrop-filter: blur(6px);

}

.projects__content-details-img img {
	width: 100%;

}

.projects__content-details .btn--med {
	padding: 0.4rem 1rem;
	font-size: 0.9rem;
}

.projects__content-details .btn {
	background: #ff2f00;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 1px;
	display: inline-block;
	font-weight: 700;
	border-radius: 5px;
	box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .15);
	transition: transform .3s;
}

.project-list {
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;
	gap: 165px;
	margin-top: 159px;
	margin-bottom: 159px;
}

.project-img {
	width: 25%;
}

.project-img svg {
	width: 81%;
	margin: 50px;
	height: min-content;
}

.project--text {
	margin: auto;
	display: flex;
	flex-direction: column;
	gap: 15px;
	width: 50%;
}

.project .btn {
	width: fit-content;
}

.project {
	display: flex;
	gap: 20px;
	height: 300px;
}

/* CONTACT US*/
#contact {

	height: inherit;
}

.container-contact {}

.contact-content {
	display: flex;
	height: inherit;
	/* align-content: space-between; */
	/* align-items: unset; */

}

.contact-content {
	display: flex;
	/* align-content: space-between; */
	align-items: baseline;
	padding: 50Px;
	gap: 171px;
}

.contact-details {
	list-style: none;
	display: flex;
	flex-direction: column;
	margin: 99px;
	gap: 20px;
}

.contact-info {
	width: 50%;
}

.fa {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.fa-envelope:before {
	content: "\f0e0";
}


#contact-form {
	display: grid;
	gap: 10px;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
		"email name"
		"textarea textarea"
		". button";
	position: absolute;

}

.form-group {
	padding: 0%;
}

.contact-info {
	width: 42%;
}

.contact-info h3 {
	font-size: x-large;
	text-align: center;
}

.contact-details {
	list-style: none;
	display: flex;
	flex-direction: column;
}


.contact-info p {
	font-size: medium;
	line-height: 1.6;
	margin-bottom: 20px;
	color: #777;
	text-align: center;
}

.contact-info svg {
	width: 10%;
}

.contact-div {
	width: 40%;
	display: flex;
	justify-content: center;
}

.contact-info li {
	display: flex;

}

.contact-info a {
	margin-top: 7px;
	margin-left: 3%;

}

.contact-form {
	margin-top: 20px;
	width: -webkit-fill-available;
	width: -moz-available;
}

#contact-form {
	text-align: left;
	height: inherit;
	width: -webkit-fill-available;
	display: flex;
	flex-direction: column;
	position: inherit;
	margin-top: 20px;
	width: -moz-available;
}


input {
	padding: 5%;
	width: -webkit-fill-available;
	border: 4px solid #ff2f00;
	width: -moz-available;
}

#message {
	padding: 20%;
	width: -webkit-fill-available;
	padding-right: 0%;
	border: 4px solid #ff2f00;
	width: -moz-available;
}

button {
	position: absolute;
	bottom: auto;
	right: inherit;
	width: 30%;
	border: none;
}

button svg {
	width: 23%;
	height: 60%;
	/* align-items: center; */
	/* align-content: center; */
	position: absolute;
	left: -3px;
}

footer {
	display: flex;
	justify-content: center;
}

footer svg {
	width: 4%;
}

footer span {
	margin-right: 19px;
	margin-top: 12px;
	margin-left: 19px;
	font-size: larger;
}

@media only screen and (max-width: 1023px) {

	section {
		margin-top: 9%;
	}

	nav {
		display: none;
	}

	.logo img {
		width: 80px;
		height: 80px;
		/* margin-right: 0.5rem; */
		margin: 15px;
	}

	#mainsection {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		margin-top: 0%;
		height: 75vh;

	}

	.container1 {
		/* width: max-content; */
		/* display: flex; */
		/* flex-direction: column; */
		/* justify-content: center; */
		/* align-content: center; */
		align-items: center;
		position: absolute;
		top: 12%;
		left: auto;
		/* left: 10%; */
		/* text-align: initial; */
	}

	#infoself {
		text-align: center;
		font-size: xxx-large;

	}

	#character {
		display: flex;
		justify-content: center;
		margin-top: 352px;
	}


	#character lottie-player {
		width: 100%;
	}

	.container {
		width: 70%;
		height: 33%;
		overflow-x: hidden;
		/* Disable horizontal scrolling */
		/* or */
		overflow-y: hidden;
		/* Disable vertical scrolling */
		right: auto;
		top: 36%;
	}

	#typewriter {

		font-size: clamp(2.5rem, 4vw, 1rem);
		left: 15%;
		backdrop-filter: unset;
	}

	#Things {

		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	#Things-container {
		display: flex;
		/* width: 83vw; */
		flex-direction: column;
		align-content: center;
		justify-content: space-between;
		gap: 0px;
		align-items: center;
	}

	#Things-inner {
		max-width: 46%;
		height: 30rem;
		padding: 14px;
		margin: unset;

		margin-top: 111px;
		gap: 24px;
		flex: none;
	}

	#Things-inner p {
		font-size: 1.5rem;
	}

	#Things-logo {
		width: 70px;
		height: 70px;

	}

	#Things-logo svg {
		height: 70px;
		line-height: 67px;
		font-size: 2.2rem;
	}

	.downloadResume {

		padding: 1.5%;
		font-size: larger;
		left: 14%;
	}

	.social-icons {
		display: flex;
		gap: 1rem;
		position: absolute;
		right: 8%;
		bottom: 19px;
	}

	.social-icons a {
		width: 49px;
	}

	.heading-sec__main {
		font-size: larger;
	}

	.heading-sec__sub {
		font-size: x-small;
	}

	.heading.heading-sec.heading-sec__mb-med {
		margin: auto;
		width: 59%;
	}

	#about .heading-sec__sub {
		display: none;
	}

	h2 {
		display: block;
		font-size: 2.4em;
	}

	h3 {
		font-size: 2.5rem;
	}

	#about {
		height: auto;
	}

	.mainAbout {
		width: 100%;
	}

	.about__content-details-para {
		font-size: 1.6rem;

	}

	.about__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		text-align: justify;
		margin: auto;
		width: -moz-available;
	}

	.about__content-skills {
		width: -moz-available;
	}

	.about__content h3 {
		display: none;
	}

	.skills {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.skills__skill {
		padding: 1rem;
		font-size: 1.2rem;
		height: 4.5rem;
		width: 11rem;
		text-align: center;
		margin: 26px;
	}

	#mini-project {
		height: auto;

	}

	.projects__content {
		display: flex;
		flex-direction: column;
		gap: 200px;
		align-items: center;
	}

	.projects__content-details {
		display: flex;
		flex-direction: column;
		width: 62%;
	}

	.projects__content-details-img {
		display: flex;
		width: 23%;
		margin: 1rem;
		background-size: cover;
		background-repeat: no-repeat;
		background-blend-mode: normal;
		backdrop-filter: blur(6px);
	}

	.projects__content-details-img svg {
		filter: drop-shadow(2px 2px 6px #ff2f00);
	}

	.projects__content-details-text {
		text-align: center;
	}

	/* main project section */
	.project {
		display: flex;
		gap: 20px;
		height: 400px;
	}


	.project-list {
		display: flex;
		flex-direction: column;
		justify-items: center;
		align-items: center;
		gap: 165px;
		margin-top: 159px;
		margin-bottom: 159px;
	}

	.project-img {
		width: 45%;
	}

	.project-img svg {
		width: 81%;
		margin: 50px;
		height: min-content;
	}

	.project--text {
		margin: auto;
		display: flex;
		flex-direction: column;
		gap: 15px;
		width: 50%;
	}

	.project .btn {
		width: fit-content;
	}

	/* contact us*/
	#contact {
		height: auto;

	}

	.contact-content {
		display: flex;
		/* align-content: space-between; */
		flex-direction: column;
		text-align: justify;
		align-items: center;
		padding: 0;
		gap: 0px;


	}

	.contact-info {
		width: 83%;
	}

	.contact-info h3 {
		font-size: xxx-large;
		text-align: center;
	}

	.contact-details {
		list-style: none;
		display: flex;
		flex-direction: row;
		margin: 50px;
		gap: 20px;
	}


	.contact-info p {
		font-size: larger;
		line-height: 1.6;
		margin-bottom: 20px;
		color: #777;
		text-align: center;
	}

	.contact-info svg {
		width: 10%;
	}

	.contact-div {
		width: 60%;
		display: flex;
		justify-content: center;

	}

	.contact-info li {
		display: flex;
		justify-content: center;
	}

	.contact-info a {
		margin-top: 7px;
		margin-left: 3%;

	}

	.contact-form {
		margin-top: 20px;
		width: moz-available;
	}

	#contact-form {
		text-align: left;
		height: inherit;
		width: -webkit-fill-available;
		display: flex;
		flex-direction: column;
		position: inherit;
		margin-top: 20px;
	}


	input {
		padding: 5%;
		width: -webkit-fill-available;
		border: 4px solid #ff2f00;
	}

	#message {
		padding: 17%;
		width: -webkit-fill-available;
		padding-right: 0%;
		border: 4px solid #ff2f00;
	}

	button {
		position: absolute;
		bottom: auto;
		right: inherit;
		width: 30%;
		border: none;
	}

	button svg {
		width: 23%;
		height: 60%;
		/* align-items: center; */
		/* align-content: center; */
		position: absolute;
		left: -3px;
	}


	footer {
		height: auto;
		margin-top: 30%;
		display: flex;
		justify-content: center;
	}

	footer svg {
		width: 4%;
	}

	footer span,
	p {
		margin-right: 19px;
		margin-top: 8px;
		margin-left: 19px;
		font-size: larger;
	}
}